@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:wght@100;400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

h1{
  font-family: 'Itim', cursive;
  font-weight: 100;
  text-align: center;
  font-size: 2.5rem;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container{
 /*  border:1px solid red; */
  max-width: 800px;
  margin: 50px auto 0px;
  padding: 20px 0px;
 
}

.container h3{
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 20px;
}

.container span{
  font-size: 1rem;
  
 
}



.containerJogadas {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 50px;
  border: 2px solid rgb(175, 175, 175);
  border-radius: 20px;
  height: 150px;
  margin-bottom: 50px;
}

.containerJogadas img {
  width: 100%;
  object-fit: contain;
}

label {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containerJogadas label > input {
  visibility: hidden;
}

.containerJogadas label > input:checked + img {
  border: 1px solid red;
}

label > p {
  margin-top: 10px;
}

main {
  margin-top: 50px;
  max-width: 1200px;
  margin: 0 auto;

  padding: 20px;
}

.mainContainer {
  max-width: 800px;
  margin: 0 auto;
  background: rgb(207, 236, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 250px;
}

.resetContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}
